* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.search-bar {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(to right, #f0fff0, #d2ffd5);
    color: #d95b43;
    margin: 100px auto 0;
    border-radius: 30px;
    padding: 40px 35px;
    text-align: center;
    border: 3px solid #ddd;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ddd; 
    padding: 5px;
    border-radius: 20px;
}

.search input {
    border: none;
    outline: none;
    background: transparent;
    color: #333; 
    padding: 8px 15px;
    height: 30px; 
    font-size: 16px;
    flex: 1; 
    border-radius: 20px;
}

.search button {
    border: none;
    outline: none;
    background: transparent; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img {
    width: 18px;  
}

.onscreendata {
    display: flex;        
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.onscreendata h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 1%;
    margin-top: 5%;
}

.onscreendata h2 {
    font-size: 25px;
    font-weight: 400;
}

.onscreendata img {
    width: 170px;
}

.moreonscreendata {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.moreonscreendata p {
    margin-right: 5%;
}

.details {
    display: none;
    margin-top: 5%;
}

.details.show {
    display: flex;
    justify-content: space-between;
  }

.show-hide-button {
    margin-top: 10%;
    background-color: #e8ffeb;
    color: #333;
    border: 2px solid #c0e8cc; 
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;   
}
  
.show-hide-button:hover {
    background-color: #d2ffd5;
}

.col {
    width: 100px; 
  }
  
.col img {
    width: 50%; 
  }


